<div class="container">
  <h1 class="opener">Already have an account?</h1>
  <p>Log in here:</p>
  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>

  <% provide(:title, "Log in") %>

  <h1>Log in</h1>

  <%= form_for(:session, :url => {:controller => 'sessions', :action => 'create'}) do |f| %>
    <p> Username:</br> <%= f.text_field :username%> </p>
    <p> Email:</br> <%= f.text_field :email%> </p>
    <p> Password:</br> <%= f.password_field :password%></p>
    <%= f.button type='submit'%>
  <% end %>
  <br>
  <%= link_to 'Back', root_path %>

</div>


