<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Home', root_path %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

 

<%= button_to "logout", session_path(current_user.id), :method=>:delete, :class=>:destroy %>

